@import "bourbon"
@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (max-width : 992px)

  .header
    &-cat, &-dog
      padding: 100px 0px


/* Small Devices, Tablets */
@media only screen and (max-width : 768px)


    .hamburger
      margin-top: 12px
      height: 56px
      padding: 15px 10px
    .login
      text-align: left
      padding-left: 10px
      font-size: 20px
      border-top: 1px solid #b6b6b6
      line-height: 2.5
    .header
      &-cat, &-dog
        padding: 100px 15px
        img
          height: 220px
          width: 220px

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px)

  .header
    height: auto
    text-align: center
    position: relative
    .hamburger
      left: 0px
      top: 65px
      z-index: 10
    h3
      font-size: 36px
      left: 0%
      margin-left: 0px
      position: relative
    &-cat, &-dog
      width: 100%
      padding: 10px 0px

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px)
	/**/


/*==========  Mobile First  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px)
	/**/


/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px)
	/**/


/* Small Devices, Tablets */
@media only screen and (min-width : 768px)
	/**/


/* Medium Devices, Desktops */
@media only screen and (min-width : 992px)
	/**/


/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px)
	/**/

